<nav class="navbar bg-transparent">
    <div class="container-fluid">
        <a class="navbar-brand text-dark" href="/lms/">MOOCsChain</a>
        <form class="d-flex" method="POST" action="/logout">
            <button class="btn btn-danger me-2" type="submit">Logout</button>
        </form>
    </div>
</nav>