<form action="/lms/reply" method="POST" class="input-group mb-2 mt-2">
    <input type="hidden" name="course_id", value="<%= course.id %>">
    <input type="hidden" name="discussion_id", value="" id="reply_discuss_id">
    <input type="text" name="reply" placeholder="Reply to discussion..." class="form-control">
    <button class="btn btn-secondary" type="submit">Reply</button>
</div>